In [126]:
import requests
from datetime import datetime, timedelta
import pandas as pd

# set the API endpoint and parameters
url = "https://api.coingecko.com/api/v3/coins/tether/market_chart"
params = {
    "vs_currency": "usd",
    "days": "2053",
    "interval": "1d"
}

# make a GET request to the API to get the tether market chart data
response = requests.get(url, params=params)

# extract the market chart data from the response
market_chart_data = response.json()

# create a dataframe to store the market chart data
df = pd.DataFrame(market_chart_data["prices"], columns=["date", "price"])

# convert the Unix timestamps in the "date" column to datetime objects
df["date"] = pd.to_datetime(df["date"],unit="ms")

# add new columns for open, high, low, and close prices
df["open"] = df["price"].shift(1)
df["high"] = df[["price", "open"]].max(axis=1)
df["low"] = df[["price", "open"]].min(axis=1)
df["close"] = df["price"]

# set the index of the dataframe "date" column
df.set_index("date", inplace=True)

# drop the "price" column
df.drop("price", axis=1, inplace=True)

# set the column order
df = df[["open", "high", "low", "close"]]

# add new columns for volume and market cap data
df["volume"] = [v[1] for v in market_chart_data["total_volumes"]]
df["marketCap"] = [mc[1] for mc in market_chart_data["market_caps"]]

# print the dataframe
print(df)

                         open      high       low     close        volume  \
date
2017-07-30 00:00:00       NaN  0.999790  0.999790  0.999790  6.136040e+07
2017-07-31 00:00:00  0.999790  1.000000  0.999790  1.000000  7.503790e+07
2017-08-01 00:00:00  1.000000  1.000000  0.996736  0.996736  1.693830e+08
2017-08-02 00:00:00  0.996736  0.999116  0.996736  0.999116  1.027260e+08
2017-08-03 00:00:00  0.999116  0.999116  0.969803  0.969803  5.729360e+07
...                       ...       ...       ...       ...           ...
2023-03-10 00:00:00  1.000015  1.001743  1.000015  1.001743  5.062439e+10
2023-03-11 00:00:00  1.001743  1.001743  1.000970  1.000970  6.602069e+10
2023-03-12 00:00:00  1.000970  1.002925  1.000970  1.002925  6.799485e+10
2023-03-13 00:00:00  1.002925  1.007303  1.002925  1.007303  5.271179e+10
2023-03-13 14:40:57  1.007303  1.023677  1.007303  1.023677  8.226656e+10

                        marketCap
date
2017-07-30 00:00:00  3.194341e+08
2017-07-31 00:00:00  3.195012e+08
2017-08-01 00:00:00  3.184584e+08
2017-08-02 00:00:00  3.192188e+08
2017-08-03 00:00:00  3.098532e+08
...                           ...
2023-03-10 00:00:00  7.181478e+10
2023-03-11 00:00:00  7.208424e+10
2023-03-12 00:00:00  7.226595e+10
2023-03-13 00:00:00  7.238689e+10
2023-03-13 14:40:57  7.415814e+10

[2053 rows x 6 columns]

In [127]:
df

,open,high,low,close,volume,marketCap
date,,,,,,
2017-07-30 00:00:00,NaN,0.999790,0.999790,0.999790,6.136040e+07,3.194341e+08
2017-07-31 00:00:00,0.999790,1.000000,0.999790,1.000000,7.503790e+07,3.195012e+08
2017-08-01 00:00:00,1.000000,1.000000,0.996736,0.996736,1.693830e+08,3.184584e+08
2017-08-02 00:00:00,0.996736,0.999116,0.996736,0.999116,1.027260e+08,3.192188e+08
2017-08-03 00:00:00,0.999116,0.999116,0.969803,0.969803,5.729360e+07,3.098532e+08
...,...,...,...,...,...,...
2023-03-10 00:00:00,1.000015,1.001743,1.000015,1.001743,5.062439e+10,7.181478e+10
2023-03-11 00:00:00,1.001743,1.001743,1.000970,1.000970,6.602069e+10,7.208424e+10
2023-03-12 00:00:00,1.000970,1.002925,1.000970,1.002925,6.799485e+10,7.226595e+10
2023-03-13 00:00:00,1.002925,1.007303,1.002925,1.007303,5.271179e+10,7.238689e+10
2023-03-13 14:40:57,1.007303,1.023677,1.007303,1.023677,8.226656e+10,7.415814e+10

In [128]:
date_index = df.index
print(date_index)

DatetimeIndex(['2017-07-30 00:00:00', '2017-07-31 00:00:00',
               '2017-08-01 00:00:00', '2017-08-02 00:00:00',
               '2017-08-03 00:00:00', '2017-08-04 00:00:00',
               '2017-08-05 00:00:00', '2017-08-06 00:00:00',
               '2017-08-07 00:00:00', '2017-08-08 00:00:00',
               ...
               '2023-03-05 00:00:00', '2023-03-06 00:00:00',
               '2023-03-07 00:00:00', '2023-03-08 00:00:00',
               '2023-03-09 00:00:00', '2023-03-10 00:00:00',
               '2023-03-11 00:00:00', '2023-03-12 00:00:00',
               '2023-03-13 00:00:00', '2023-03-13 14:40:57'],
              dtype='datetime64[ns]', name='date', length=2053, freq=None)

In [129]:
df_grouped = df.groupby(df.index.date).first()
df_grouped

                open      high       low     close        volume     marketCap
2017-07-30       NaN  0.999790  0.999790  0.999790  6.136040e+07  3.194341e+08
2017-07-31  0.999790  1.000000  0.999790  1.000000  7.503790e+07  3.195012e+08
2017-08-01  1.000000  1.000000  0.996736  0.996736  1.693830e+08  3.184584e+08
2017-08-02  0.996736  0.999116  0.996736  0.999116  1.027260e+08  3.192188e+08
2017-08-03  0.999116  0.999116  0.969803  0.969803  5.729360e+07  3.098532e+08
...              ...       ...       ...       ...           ...           ...
2023-03-09  1.000850  1.000850  1.000015  1.000015  3.571676e+10  7.186046e+10
2023-03-10  1.000015  1.001743  1.000015  1.001743  5.062439e+10  7.181478e+10
2023-03-11  1.001743  1.001743  1.000970  1.000970  6.602069e+10  7.208424e+10
2023-03-12  1.000970  1.002925  1.000970  1.002925  6.799485e+10  7.226595e+10
2023-03-13  1.002925  1.007303  1.002925  1.007303  5.271179e+10  7.238689e+10

[2052 rows x 6 columns]

In [130]:
# Check if the index is unique
print(df_grouped.index.is_unique)

True